
input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 110px;
 /* border: 1px solid #ccc;
  padding: 1px;*/
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #d8a942;
  border: 1px solid #d8a942;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}